@use "./variables/colors.scss" as *;
@import "$nodeModules/normalize.css/normalize.css";

// TODO vsechny importy na @use

:root {
	--text-primary: #{$color-gray-900};
	--text-primary--hover: #{$color-gray-500};

	--text-secondary: #{$color-gray-600};

	--background-color: #{$color-gray-50};

	--accent-neutral-100: #{$color-gray-100};
	--accent-neutral-200: #{$color-gray-200};
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

:where(*, *:before, *:after) {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	position: relative;

	font-family: "Lato", sans-serif;

	color: var(--text-primary);
	background-color: var(--background-color);
}

:where(body):where(*, *:before, *:after) {
	font-size: $text;
}

:where(li) {
	list-style: none;
}

:where(a) {
	text-decoration: none;
	color: inherit;

	&:hover {
		color: var(--text-primary--hover);
	}
}

:where(h1, h2) {
	font-size: $text-heading;
}

:where(h3, h4, h5, h6) {
	font-size: $text-subheading;
}
