@use "sass:math";

$base-size: 0.125rem;

$font-xxxs: $base-size * 5;
$font-xxs: $base-size * 6;
$font-xs: $base-size * 7;
$font-sm: $base-size * 8;
$font-md: $base-size * 10;
$font-lg: $base-size * 12;
$font-xl: $base-size * 14;
$font-xxl: $base-size * 18;
$font-xxxl: $base-size * 22;
