$text-title: $text-tag;
$text-title-weight: 900;

$item-side-padding: $space-sm;
$scroller-padding: $space-sm;

$border-radius: $border-md;

$text-color-default: var(--accent-info-700);
$text-secondary-color-default: var(--accent-info-600);
$border-color-default: var(--accent-info-500);
$background-color-default: var(--accent-info-200);

$text-color-best: var(--accent-positive-700);
$text-secondary-color-best: var(--accent-positive-700);
$border-color-best: var(--accent-positive-400);
$background-color-best: var(--accent-positive-200);

$text-color-history: var(--text-secondary);
$text-secondary-color-history: var(--text-secondary);
$border-color-history: var(--accent-neutral-300);
$background-color-history: var(--accent-neutral-200);

$text-color-history-2: var(--text-secondary-2);
$text-secondary-color-history-2: var(--text-secondary-2);
$border-color-history-2: var(--accent-neutral-400);
$background-color-history-2: var(--accent-neutral-300);
