@use "$sass/functions.scss" as *;

$bp-1600: pxToRem(1600);
$bp-1096: pxToRem(1096);
$bp-960: pxToRem(960);
$bp-900: pxToRem(900);
$bp-760: pxToRem(760);
$bp-512: pxToRem(512);
$bp-396: pxToRem(396);

$max-width: $bp-1600;
