@use "$sass/functions.scss" as *;
@use "sass:math";

$base-size: pxToRem(2);
$koeficient: 2;

$space-xxs: $base-size;
$space-xs: $base-size * math.pow($koeficient, 1);
$space-sm: $base-size * math.pow($koeficient, 2);
$space-md: $base-size * math.pow($koeficient, 3);
$space-lg: $base-size * math.pow($koeficient, 4);
$space-xl: $base-size * math.pow($koeficient, 5);
$space-xxl: $base-size * math.pow($koeficient, 6);
$space-xxxl: $base-size * math.pow($koeficient, 7);
$space-xxxxl: $base-size * math.pow($koeficient, 8);
$space-5xl: $base-size * math.pow($koeficient, 9);

$space-px: pxToRem(1);

$border-md: $space-sm;
$border-sm: $space-xs;
