@use "$variables/base/typography" as font;

$text: font.$font-sm;
$text-heading: font.$font-md;
$text-subheading: font.$font-xs;
$text-copyright: font.$font-xs;
$text-tag: font.$font-xxs;
$text-smallest: font.$font-xxxs;

$icon-md: font.$font-xs;
$icon-sm: font.$font-xxs;
$icon-lg: font.$font-sm;
$icon-xl: font.$font-md;
$back-to-top: font.$font-xl;
