@use "$variables/base/typography" as font;

$text: font.$font-sm;
$text-heading: font.$font-md;
$text-subheading: font.$font-xs;
$text-copyright: font.$font-xs;
$text-tag: font.$font-xxs;
$text-smallest: font.$font-xxxs;

$text-menu-mobile: font.$font-xl;

$icon: font.$font-xs;
$back-to-top: font.$font-xl;
